
<div class="resWrapper">
   <div class="res">
      <div class="resRow resHeader">
         <div class="resCol" style="width: 168px;">
            <div class="resAvatar resAvatar--icon " style="background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOCA4aC0xVjZjMC0yLjc2LTIuMjQtNS01LTVTNyAzLjI0IDcgNnYySDZjLTEuMSAwLTIgLjktMiAydjEwYzAgMS4xLjkgMiAyIDJoMTJjMS4xIDAgMi0uOSAyLTJWMTBjMC0xLjEtLjktMi0yLTJ6bS02IDljLTEuMSAwLTItLjktMi0ycy45LTIgMi0yIDIgLjkgMiAyLS45IDItMiAyem0zLjEtOUg4LjlWNmMwLTEuNzEgMS4zOS0zLjEgMy4xLTMuMSAxLjcxIDAgMy4xIDEuMzkgMy4xIDMuMXYyeiIvPgo8L3N2Zz4=');">
               <div class="resBadge">
               </div>
            </div>
         </div>
         <div class="resCol">
            <div class="resTitle">
               You need to sign in to view the result						
            </div>
            <div class="resItem">
               <a class="button button--medium button--green" href="#logIn" onclick="toggleLogIn(); return false;">Sign In</a>
            </div>
         </div>
      </div>
      <div class="resRow">
         <div class="resCol resBody">
            <div class="resItem">
               <div class="resLabel">{{itemtype}}</div>
               <h1 dir="ltr">{{itemid}}</h1>
               <small>Mobile</small>
            </div>
         </div>
         <div class="resCol resLocation">
            <div class="resItem">
               <div class="resLabel">Address</div>
               <div>
                  India																	
               </div>
            </div>
         </div>
      </div>
   </div>
</div>